json/**
!json/
!json/README.md
!json/example_es_clean.json
!json/example_es_bg.json
!json/example_bg.json
build/*
lists/
*.o
*.exe
*/__pycache__/
condor_test/
app/plots/
output/
*/*.root
*.png  
*.jpg
data/*